
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

// $primary-color	: #6cbb23; // Lime
// $primary-color	: #19CDC3; // Teal
$primary-color	: #28283C; // Cal blue
$secondary-color: #FAC864; // Cal yellow
$secondary-color: #C7AB7A; // Cal gold
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;
